//
// Written by Synplify Pro 
// Product Version "W-2025.03M-SP1-1"
// Program "Synplify Pro", Mapper "map202503actsp1, Build 108R"
// Tue Jun 16 14:29:14 2026
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\generic\smartfusion2.v "
// file 1 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vlog\hypermods.v "
// file 2 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vlog\scemi_objects.v "
// file 3 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vlog\scemi_pipes.svh "
// file 4 "\e:\projects\drdo\drdo\component\syn_comps.v "
// file 5 "\e:\projects\drdo\drdo\hdl\apb_led_slave.v "
// file 6 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\nlconst.dat "
// file 7 "\e:\projects\drdo\drdo\designer\apb_led_slave\synthesis.fdc "

`timescale 100 ps/100 ps
module apb_led_slave (
  PCLK,
  PRESETN,
  PSEL,
  PENABLE,
  PWRITE,
  PADDR,
  PWDATA,
  PRDATA,
  PREADY,
  led
)
;
input PCLK ;
input PRESETN ;
input PSEL ;
input PENABLE ;
input PWRITE ;
input [7:0] PADDR ;
input [31:0] PWDATA ;
output [31:0] PRDATA ;
output PREADY ;
output [3:0] led ;
wire PCLK ;
wire PRESETN ;
wire PSEL ;
wire PENABLE ;
wire PWRITE ;
wire PREADY ;
wire [7:0] PADDR_c;
wire [3:0] PWDATA_c;
wire [3:0] PRDATA_c;
wire [3:0] led_c;
wire GND ;
wire VCC ;
wire led4_Z ;
wire led_0_sqmuxa_Z ;
wire PCLK_c ;
wire PRESETN_c ;
wire PSEL_c ;
wire PENABLE_c ;
wire PWRITE_c ;
wire led4_3_Z ;
wire led4_4_Z ;
wire PCLK_ibuf_Z ;
  CLKINT PCLK_ibuf_RNIFTKQ4 (
	.Y(PCLK_c),
	.A(PCLK_ibuf_Z)
);
// @5:27
  SLE \led_Z[3]  (
	.Q(led_c[3]),
	.ADn(VCC),
	.ALn(PRESETN_c),
	.CLK(PCLK_c),
	.D(PWDATA_c[3]),
	.EN(led_0_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:27
  SLE \led_Z[2]  (
	.Q(led_c[2]),
	.ADn(VCC),
	.ALn(PRESETN_c),
	.CLK(PCLK_c),
	.D(PWDATA_c[2]),
	.EN(led_0_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:27
  SLE \led_Z[1]  (
	.Q(led_c[1]),
	.ADn(VCC),
	.ALn(PRESETN_c),
	.CLK(PCLK_c),
	.D(PWDATA_c[1]),
	.EN(led_0_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:27
  SLE \led_Z[0]  (
	.Q(led_c[0]),
	.ADn(VCC),
	.ALn(PRESETN_c),
	.CLK(PCLK_c),
	.D(PWDATA_c[0]),
	.EN(led_0_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:5
  INBUF PCLK_ibuf (
	.Y(PCLK_ibuf_Z),
	.PAD(PCLK)
);
// @5:6
  INBUF PRESETN_ibuf (
	.Y(PRESETN_c),
	.PAD(PRESETN)
);
// @5:8
  INBUF PSEL_ibuf (
	.Y(PSEL_c),
	.PAD(PSEL)
);
// @5:9
  INBUF PENABLE_ibuf (
	.Y(PENABLE_c),
	.PAD(PENABLE)
);
// @5:10
  INBUF PWRITE_ibuf (
	.Y(PWRITE_c),
	.PAD(PWRITE)
);
// @5:12
  INBUF \PADDR_ibuf[0]  (
	.Y(PADDR_c[0]),
	.PAD(PADDR[0])
);
// @5:12
  INBUF \PADDR_ibuf[1]  (
	.Y(PADDR_c[1]),
	.PAD(PADDR[1])
);
// @5:12
  INBUF \PADDR_ibuf[2]  (
	.Y(PADDR_c[2]),
	.PAD(PADDR[2])
);
// @5:12
  INBUF \PADDR_ibuf[3]  (
	.Y(PADDR_c[3]),
	.PAD(PADDR[3])
);
// @5:12
  INBUF \PADDR_ibuf[4]  (
	.Y(PADDR_c[4]),
	.PAD(PADDR[4])
);
// @5:12
  INBUF \PADDR_ibuf[5]  (
	.Y(PADDR_c[5]),
	.PAD(PADDR[5])
);
// @5:12
  INBUF \PADDR_ibuf[6]  (
	.Y(PADDR_c[6]),
	.PAD(PADDR[6])
);
// @5:12
  INBUF \PADDR_ibuf[7]  (
	.Y(PADDR_c[7]),
	.PAD(PADDR[7])
);
// @5:13
  INBUF \PWDATA_ibuf[0]  (
	.Y(PWDATA_c[0]),
	.PAD(PWDATA[0])
);
// @5:13
  INBUF \PWDATA_ibuf[1]  (
	.Y(PWDATA_c[1]),
	.PAD(PWDATA[1])
);
// @5:13
  INBUF \PWDATA_ibuf[2]  (
	.Y(PWDATA_c[2]),
	.PAD(PWDATA[2])
);
// @5:13
  INBUF \PWDATA_ibuf[3]  (
	.Y(PWDATA_c[3]),
	.PAD(PWDATA[3])
);
// @5:15
  OUTBUF \PRDATA_obuf[0]  (
	.PAD(PRDATA[0]),
	.D(PRDATA_c[0])
);
// @5:15
  OUTBUF \PRDATA_obuf[1]  (
	.PAD(PRDATA[1]),
	.D(PRDATA_c[1])
);
// @5:15
  OUTBUF \PRDATA_obuf[2]  (
	.PAD(PRDATA[2]),
	.D(PRDATA_c[2])
);
// @5:15
  OUTBUF \PRDATA_obuf[3]  (
	.PAD(PRDATA[3]),
	.D(PRDATA_c[3])
);
// @5:15
  OUTBUF \PRDATA_obuf[4]  (
	.PAD(PRDATA[4]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[5]  (
	.PAD(PRDATA[5]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[6]  (
	.PAD(PRDATA[6]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[7]  (
	.PAD(PRDATA[7]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[8]  (
	.PAD(PRDATA[8]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[9]  (
	.PAD(PRDATA[9]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[10]  (
	.PAD(PRDATA[10]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[11]  (
	.PAD(PRDATA[11]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[12]  (
	.PAD(PRDATA[12]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[13]  (
	.PAD(PRDATA[13]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[14]  (
	.PAD(PRDATA[14]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[15]  (
	.PAD(PRDATA[15]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[16]  (
	.PAD(PRDATA[16]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[17]  (
	.PAD(PRDATA[17]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[18]  (
	.PAD(PRDATA[18]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[19]  (
	.PAD(PRDATA[19]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[20]  (
	.PAD(PRDATA[20]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[21]  (
	.PAD(PRDATA[21]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[22]  (
	.PAD(PRDATA[22]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[23]  (
	.PAD(PRDATA[23]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[24]  (
	.PAD(PRDATA[24]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[25]  (
	.PAD(PRDATA[25]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[26]  (
	.PAD(PRDATA[26]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[27]  (
	.PAD(PRDATA[27]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[28]  (
	.PAD(PRDATA[28]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[29]  (
	.PAD(PRDATA[29]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[30]  (
	.PAD(PRDATA[30]),
	.D(GND)
);
// @5:15
  OUTBUF \PRDATA_obuf[31]  (
	.PAD(PRDATA[31]),
	.D(GND)
);
// @5:16
  OUTBUF PREADY_obuf (
	.PAD(PREADY),
	.D(VCC)
);
// @5:18
  OUTBUF \led_obuf[0]  (
	.PAD(led[0]),
	.D(led_c[0])
);
// @5:18
  OUTBUF \led_obuf[1]  (
	.PAD(led[1]),
	.D(led_c[1])
);
// @5:18
  OUTBUF \led_obuf[2]  (
	.PAD(led[2]),
	.D(led_c[2])
);
// @5:18
  OUTBUF \led_obuf[3]  (
	.PAD(led[3]),
	.D(led_c[3])
);
// @5:36
  CFG2 led4_3 (
	.A(PADDR_c[6]),
	.B(PADDR_c[7]),
	.Y(led4_3_Z)
);
defparam led4_3.INIT=4'h1;
// @5:36
  CFG4 led4_4 (
	.A(PADDR_c[3]),
	.B(PADDR_c[2]),
	.C(PADDR_c[1]),
	.D(PADDR_c[0]),
	.Y(led4_4_Z)
);
defparam led4_4.INIT=16'h0001;
// @5:36
  CFG4 led4 (
	.A(led4_4_Z),
	.B(led4_3_Z),
	.C(PADDR_c[5]),
	.D(PADDR_c[4]),
	.Y(led4_Z)
);
defparam led4.INIT=16'h0008;
// @5:36
  CFG4 led_0_sqmuxa (
	.A(led4_Z),
	.B(PWRITE_c),
	.C(PSEL_c),
	.D(PENABLE_c),
	.Y(led_0_sqmuxa_Z)
);
defparam led_0_sqmuxa.INIT=16'h8000;
// @5:53
  CFG4 \PRDATA_1[3]  (
	.A(led_c[3]),
	.B(led4_Z),
	.C(PWRITE_c),
	.D(PSEL_c),
	.Y(PRDATA_c[3])
);
defparam \PRDATA_1[3] .INIT=16'h0800;
// @5:53
  CFG4 \PRDATA_1[2]  (
	.A(led_c[2]),
	.B(led4_Z),
	.C(PWRITE_c),
	.D(PSEL_c),
	.Y(PRDATA_c[2])
);
defparam \PRDATA_1[2] .INIT=16'h0800;
// @5:53
  CFG4 \PRDATA_1[1]  (
	.A(led_c[1]),
	.B(led4_Z),
	.C(PWRITE_c),
	.D(PSEL_c),
	.Y(PRDATA_c[1])
);
defparam \PRDATA_1[1] .INIT=16'h0800;
// @5:53
  CFG4 \PRDATA_1[0]  (
	.A(led_c[0]),
	.B(led4_Z),
	.C(PWRITE_c),
	.D(PSEL_c),
	.Y(PRDATA_c[0])
);
defparam \PRDATA_1[0] .INIT=16'h0800;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* apb_led_slave */

