//
// Written by Synplify Pro 
// Product Version "W-2025.03M-SP1-1"
// Program "Synplify Pro", Mapper "map202503actsp1, Build 108R"
// Wed Jun 17 00:48:02 2026
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vhd2008\std.vhd "
// file 1 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vhd\snps_haps_pkg.vhd "
// file 2 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vhd2008\std1164.vhd "
// file 3 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vhd2008\std_textio.vhd "
// file 4 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vhd2008\numeric.vhd "
// file 5 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vhd\umr_capim.vhd "
// file 6 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vhd2008\arith.vhd "
// file 7 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vhd2008\unsigned.vhd "
// file 8 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vhd\hyperents.vhd "
// file 9 "\e:\projects\drdo\drdo\component\actel\directcore\coreapb3\4.2.100\rtl\vhdl\core\coreapb3_muxptob3.vhd "
// file 10 "\e:\projects\drdo\drdo\component\actel\directcore\coreapb3\4.2.100\rtl\vhdl\core\coreapb3_iaddr_reg.vhd "
// file 11 "\e:\projects\drdo\drdo\component\actel\directcore\coreapb3\4.2.100\rtl\vhdl\core\components.vhd "
// file 12 "\e:\projects\drdo\drdo\component\work\fccc_c0\fccc_c0_0\fccc_c0_fccc_c0_0_fccc.vhd "
// file 13 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\generic\smartfusion2.vhd "
// file 14 "\e:\projects\drdo\drdo\component\work\mss_c0_mss\mss_c0_mss_syn.vhd "
// file 15 "\e:\projects\drdo\drdo\component\actel\directcore\coreapb3\4.2.100\rtl\vhdl\core\coreapb3.vhd "
// file 16 "\e:\projects\drdo\drdo\component\work\coreapb3_c0\coreapb3_c0.vhd "
// file 17 "\e:\projects\drdo\drdo\component\work\fccc_c0\fccc_c0.vhd "
// file 18 "\e:\projects\drdo\drdo\component\work\mss_c0_mss\mss_c0_mss.vhd "
// file 19 "\e:\projects\drdo\drdo\component\work\top_soc_new\top_soc_new.vhd "
// file 20 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\generic\smartfusion2.v "
// file 21 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vlog\hypermods.v "
// file 22 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vlog\scemi_objects.v "
// file 23 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\vlog\scemi_pipes.svh "
// file 24 "\e:\projects\drdo\drdo\component\syn_comps.v "
// file 25 "\e:\projects\drdo\drdo\hdl\apb_led_slave.v "
// file 26 "\e:\microchip\libero_soc_2025.2\libero_soc\synplify_pro\lib\nlconst.dat "
// file 27 "\e:\projects\drdo\drdo\designer\top_soc_new\synthesis.fdc "

`timescale 100 ps/100 ps
module COREAPB3_MUXPTOB3 (
  CoreAPB3_C0_0_PRDATA,
  led_c,
  CoreAPB3_C0_0_PSELS0,
  CoreAPB3_C0_0_PWRITES,
  led4
)
;
output [3:0] CoreAPB3_C0_0_PRDATA ;
input [3:0] led_c ;
input CoreAPB3_C0_0_PSELS0 ;
input CoreAPB3_C0_0_PWRITES ;
input led4 ;
wire CoreAPB3_C0_0_PSELS0 ;
wire CoreAPB3_C0_0_PWRITES ;
wire led4 ;
wire GND ;
wire VCC ;
// @9:94
  CFG4 \PRDATA[2]  (
	.A(led_c[2]),
	.B(led4),
	.C(CoreAPB3_C0_0_PWRITES),
	.D(CoreAPB3_C0_0_PSELS0),
	.Y(CoreAPB3_C0_0_PRDATA[2])
);
defparam \PRDATA[2] .INIT=16'h0800;
// @9:94
  CFG4 \PRDATA[3]  (
	.A(led_c[3]),
	.B(led4),
	.C(CoreAPB3_C0_0_PWRITES),
	.D(CoreAPB3_C0_0_PSELS0),
	.Y(CoreAPB3_C0_0_PRDATA[3])
);
defparam \PRDATA[3] .INIT=16'h0800;
// @9:94
  CFG4 \PRDATA[0]  (
	.A(led_c[0]),
	.B(led4),
	.C(CoreAPB3_C0_0_PWRITES),
	.D(CoreAPB3_C0_0_PSELS0),
	.Y(CoreAPB3_C0_0_PRDATA[0])
);
defparam \PRDATA[0] .INIT=16'h0800;
// @9:94
  CFG4 \PRDATA[1]  (
	.A(led_c[1]),
	.B(led4),
	.C(CoreAPB3_C0_0_PWRITES),
	.D(CoreAPB3_C0_0_PSELS0),
	.Y(CoreAPB3_C0_0_PRDATA[1])
);
defparam \PRDATA[1] .INIT=16'h0800;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* COREAPB3_MUXPTOB3 */

module CoreAPB3_32_0_1_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_28_6_19 (
  led_c,
  CoreAPB3_C0_0_PRDATA,
  MSS_C0_MSS_0_FIC_0_APB_M_PADDR,
  led4,
  CoreAPB3_C0_0_PWRITES,
  CoreAPB3_C0_0_PSELS0,
  MSS_C0_MSS_0_FIC_0_APB_M_PSEL
)
;
input [3:0] led_c ;
output [3:0] CoreAPB3_C0_0_PRDATA ;
input [27:24] MSS_C0_MSS_0_FIC_0_APB_M_PADDR ;
input led4 ;
input CoreAPB3_C0_0_PWRITES ;
output CoreAPB3_C0_0_PSELS0 ;
input MSS_C0_MSS_0_FIC_0_APB_M_PSEL ;
wire led4 ;
wire CoreAPB3_C0_0_PWRITES ;
wire CoreAPB3_C0_0_PSELS0 ;
wire MSS_C0_MSS_0_FIC_0_APB_M_PSEL ;
wire [0:0] iPSELS_raw_1_Z;
wire GND ;
wire VCC ;
// @15:647
  CFG2 \iPSELS_raw_1[0]  (
	.A(MSS_C0_MSS_0_FIC_0_APB_M_PADDR[26]),
	.B(MSS_C0_MSS_0_FIC_0_APB_M_PADDR[27]),
	.Y(iPSELS_raw_1_Z[0])
);
defparam \iPSELS_raw_1[0] .INIT=4'h1;
// @15:647
  CFG4 \iPSELS_raw[0]  (
	.A(MSS_C0_MSS_0_FIC_0_APB_M_PSEL),
	.B(MSS_C0_MSS_0_FIC_0_APB_M_PADDR[25]),
	.C(MSS_C0_MSS_0_FIC_0_APB_M_PADDR[24]),
	.D(iPSELS_raw_1_Z[0]),
	.Y(CoreAPB3_C0_0_PSELS0)
);
defparam \iPSELS_raw[0] .INIT=16'h0200;
// @15:1308
  COREAPB3_MUXPTOB3 u_mux_p_to_b3 (
	.CoreAPB3_C0_0_PRDATA(CoreAPB3_C0_0_PRDATA[3:0]),
	.led_c(led_c[3:0]),
	.CoreAPB3_C0_0_PSELS0(CoreAPB3_C0_0_PSELS0),
	.CoreAPB3_C0_0_PWRITES(CoreAPB3_C0_0_PWRITES),
	.led4(led4)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* CoreAPB3_32_0_1_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_28_6_19 */

module CoreAPB3_C0 (
  MSS_C0_MSS_0_FIC_0_APB_M_PADDR,
  CoreAPB3_C0_0_PRDATA,
  led_c,
  MSS_C0_MSS_0_FIC_0_APB_M_PSEL,
  CoreAPB3_C0_0_PSELS0,
  CoreAPB3_C0_0_PWRITES,
  led4
)
;
input [27:24] MSS_C0_MSS_0_FIC_0_APB_M_PADDR ;
output [3:0] CoreAPB3_C0_0_PRDATA ;
input [3:0] led_c ;
input MSS_C0_MSS_0_FIC_0_APB_M_PSEL ;
output CoreAPB3_C0_0_PSELS0 ;
input CoreAPB3_C0_0_PWRITES ;
input led4 ;
wire MSS_C0_MSS_0_FIC_0_APB_M_PSEL ;
wire CoreAPB3_C0_0_PSELS0 ;
wire CoreAPB3_C0_0_PWRITES ;
wire led4 ;
wire GND ;
wire VCC ;
// @16:186
  CoreAPB3_32_0_1_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_28_6_19 CoreAPB3_C0_0 (
	.led_c(led_c[3:0]),
	.CoreAPB3_C0_0_PRDATA(CoreAPB3_C0_0_PRDATA[3:0]),
	.MSS_C0_MSS_0_FIC_0_APB_M_PADDR(MSS_C0_MSS_0_FIC_0_APB_M_PADDR[27:24]),
	.led4(led4),
	.CoreAPB3_C0_0_PWRITES(CoreAPB3_C0_0_PWRITES),
	.CoreAPB3_C0_0_PSELS0(CoreAPB3_C0_0_PSELS0),
	.MSS_C0_MSS_0_FIC_0_APB_M_PSEL(MSS_C0_MSS_0_FIC_0_APB_M_PSEL)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* CoreAPB3_C0 */

module FCCC_C0_FCCC_C0_0_FCCC (
  FCCC_C0_0_GL0,
  CLK0_PAD
)
;
output FCCC_C0_0_GL0 ;
input CLK0_PAD ;
wire FCCC_C0_0_GL0 ;
wire CLK0_PAD ;
wire [7:0] PRDATA;
wire CLK0_PAD_net ;
wire GL0_net ;
wire Y0 ;
wire Y1 ;
wire Y2 ;
wire Y3 ;
wire LOCK ;
wire BUSY ;
wire VCC ;
wire GND ;
wire GL1 ;
wire GL2 ;
wire GL3 ;
// @12:146
  INBUF CLK0_PAD_INST (
	.Y(CLK0_PAD_net),
	.PAD(CLK0_PAD)
);
// @12:111
  CLKINT GL0_INST (
	.Y(FCCC_C0_0_GL0),
	.A(GL0_net)
);
//@17:205
// @12:114
  CCC CCC_INST (
	.Y0(Y0),
	.Y1(Y1),
	.Y2(Y2),
	.Y3(Y3),
	.PRDATA(PRDATA[7:0]),
	.LOCK(LOCK),
	.BUSY(BUSY),
	.CLK0(VCC),
	.CLK1(VCC),
	.CLK2(VCC),
	.CLK3(VCC),
	.NGMUX0_SEL(GND),
	.NGMUX1_SEL(GND),
	.NGMUX2_SEL(GND),
	.NGMUX3_SEL(GND),
	.NGMUX0_HOLD_N(VCC),
	.NGMUX1_HOLD_N(VCC),
	.NGMUX2_HOLD_N(VCC),
	.NGMUX3_HOLD_N(VCC),
	.NGMUX0_ARST_N(VCC),
	.NGMUX1_ARST_N(VCC),
	.NGMUX2_ARST_N(VCC),
	.NGMUX3_ARST_N(VCC),
	.PLL_BYPASS_N(VCC),
	.PLL_ARST_N(VCC),
	.PLL_POWERDOWN_N(VCC),
	.GPD0_ARST_N(VCC),
	.GPD1_ARST_N(VCC),
	.GPD2_ARST_N(VCC),
	.GPD3_ARST_N(VCC),
	.PRESET_N(GND),
	.PCLK(VCC),
	.PSEL(VCC),
	.PENABLE(VCC),
	.PWRITE(VCC),
	.PADDR({VCC, VCC, VCC, VCC, VCC, VCC}),
	.PWDATA({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.CLK0_PAD(CLK0_PAD_net),
	.CLK1_PAD(GND),
	.CLK2_PAD(GND),
	.CLK3_PAD(GND),
	.GL0(GL0_net),
	.GL1(GL1),
	.GL2(GL2),
	.GL3(GL3),
	.RCOSC_25_50MHZ(GND),
	.RCOSC_1MHZ(GND),
	.XTLOSC(GND)
);
defparam CCC_INST.INIT=210'h0000007FB8000044D74000318C6318C1F18C61C00404040400303;
defparam CCC_INST.VCOFREQUENCY=800.0;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* FCCC_C0_FCCC_C0_0_FCCC */

module FCCC_C0 (
  CLK0_PAD,
  FCCC_C0_0_GL0
)
;
input CLK0_PAD ;
output FCCC_C0_0_GL0 ;
wire CLK0_PAD ;
wire FCCC_C0_0_GL0 ;
wire GND ;
wire VCC ;
// @17:205
  FCCC_C0_FCCC_C0_0_FCCC FCCC_C0_0 (
	.FCCC_C0_0_GL0(FCCC_C0_0_GL0),
	.CLK0_PAD(CLK0_PAD)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* FCCC_C0 */

module apb_led_slave (
  PADDRS_net_0,
  CoreAPB3_C0_0_PWDATAS,
  led_c,
  CoreAPB3_C0_0_PENABLES,
  CoreAPB3_C0_0_PSELS0,
  CoreAPB3_C0_0_PWRITES,
  led4_1z,
  FCCC_C0_0_GL0,
  MSS_RESET_N_M2F
)
;
input [7:0] PADDRS_net_0 ;
input [3:0] CoreAPB3_C0_0_PWDATAS ;
output [3:0] led_c ;
input CoreAPB3_C0_0_PENABLES ;
input CoreAPB3_C0_0_PSELS0 ;
input CoreAPB3_C0_0_PWRITES ;
output led4_1z ;
input FCCC_C0_0_GL0 ;
input MSS_RESET_N_M2F ;
wire CoreAPB3_C0_0_PENABLES ;
wire CoreAPB3_C0_0_PSELS0 ;
wire CoreAPB3_C0_0_PWRITES ;
wire led4_1z ;
wire FCCC_C0_0_GL0 ;
wire MSS_RESET_N_M2F ;
wire VCC ;
wire led_0_sqmuxa_Z ;
wire GND ;
wire led4_3_Z ;
wire led4_4_Z ;
// @25:27
  SLE \led[3]  (
	.Q(led_c[3]),
	.ADn(VCC),
	.ALn(MSS_RESET_N_M2F),
	.CLK(FCCC_C0_0_GL0),
	.D(CoreAPB3_C0_0_PWDATAS[3]),
	.EN(led_0_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @25:27
  SLE \led[2]  (
	.Q(led_c[2]),
	.ADn(VCC),
	.ALn(MSS_RESET_N_M2F),
	.CLK(FCCC_C0_0_GL0),
	.D(CoreAPB3_C0_0_PWDATAS[2]),
	.EN(led_0_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @25:27
  SLE \led[1]  (
	.Q(led_c[1]),
	.ADn(VCC),
	.ALn(MSS_RESET_N_M2F),
	.CLK(FCCC_C0_0_GL0),
	.D(CoreAPB3_C0_0_PWDATAS[1]),
	.EN(led_0_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @25:27
  SLE \led[0]  (
	.Q(led_c[0]),
	.ADn(VCC),
	.ALn(MSS_RESET_N_M2F),
	.CLK(FCCC_C0_0_GL0),
	.D(CoreAPB3_C0_0_PWDATAS[0]),
	.EN(led_0_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @25:36
  CFG2 led4_3 (
	.A(PADDRS_net_0[6]),
	.B(PADDRS_net_0[7]),
	.Y(led4_3_Z)
);
defparam led4_3.INIT=4'h1;
// @25:36
  CFG4 led4_4 (
	.A(PADDRS_net_0[3]),
	.B(PADDRS_net_0[2]),
	.C(PADDRS_net_0[1]),
	.D(PADDRS_net_0[0]),
	.Y(led4_4_Z)
);
defparam led4_4.INIT=16'h0001;
// @25:36
  CFG4 led4 (
	.A(led4_4_Z),
	.B(led4_3_Z),
	.C(PADDRS_net_0[5]),
	.D(PADDRS_net_0[4]),
	.Y(led4_1z)
);
defparam led4.INIT=16'h0008;
// @25:36
  CFG4 led_0_sqmuxa (
	.A(led4_1z),
	.B(CoreAPB3_C0_0_PWRITES),
	.C(CoreAPB3_C0_0_PSELS0),
	.D(CoreAPB3_C0_0_PENABLES),
	.Y(led_0_sqmuxa_Z)
);
defparam led_0_sqmuxa.INIT=16'h8000;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* apb_led_slave */

module MSS_C0_MSS (
  CoreAPB3_C0_0_PRDATA,
  CoreAPB3_C0_0_PWDATAS,
  MSS_C0_MSS_0_FIC_0_APB_M_PADDR,
  PADDRS_net_0,
  USB_ULPI_DATA,
  MSS_RESET_N_M2F,
  CoreAPB3_C0_0_PWRITES,
  MSS_C0_MSS_0_FIC_0_APB_M_PSEL,
  CoreAPB3_C0_0_PENABLES,
  MMUART_0_RXD,
  MMUART_0_TXD,
  SPI_0_CLK,
  SPI_0_DI,
  SPI_0_DO,
  SPI_0_SS0,
  USB_ULPI_DIR,
  USB_ULPI_NXT,
  USB_ULPI_STP,
  USB_ULPI_XCLK
)
;
input [3:0] CoreAPB3_C0_0_PRDATA ;
output [3:0] CoreAPB3_C0_0_PWDATAS ;
output [27:24] MSS_C0_MSS_0_FIC_0_APB_M_PADDR ;
output [7:0] PADDRS_net_0 ;
inout [7:0] USB_ULPI_DATA /* synthesis syn_tristate = 1 */ ;
output MSS_RESET_N_M2F ;
output CoreAPB3_C0_0_PWRITES ;
output MSS_C0_MSS_0_FIC_0_APB_M_PSEL ;
output CoreAPB3_C0_0_PENABLES ;
input MMUART_0_RXD ;
output MMUART_0_TXD ;
inout SPI_0_CLK /* synthesis syn_tristate = 1 */ ;
input SPI_0_DI ;
output SPI_0_DO ;
inout SPI_0_SS0 /* synthesis syn_tristate = 1 */ ;
input USB_ULPI_DIR ;
input USB_ULPI_NXT ;
output USB_ULPI_STP ;
input USB_ULPI_XCLK ;
wire MSS_RESET_N_M2F ;
wire CoreAPB3_C0_0_PWRITES ;
wire MSS_C0_MSS_0_FIC_0_APB_M_PSEL ;
wire CoreAPB3_C0_0_PENABLES ;
wire MMUART_0_RXD ;
wire MMUART_0_TXD ;
wire SPI_0_CLK ;
wire SPI_0_DI ;
wire SPI_0_DO ;
wire SPI_0_SS0 ;
wire USB_ULPI_DIR ;
wire USB_ULPI_NXT ;
wire USB_ULPI_STP ;
wire USB_ULPI_XCLK ;
wire [7:0] EDAC_ERROR;
wire [31:0] F_FM0_RDATA;
wire [31:8] FIC_0_APB_M_PADDR;
wire [1:0] F_HM0_SIZE;
wire [31:4] FIC_0_APB_M_PWDATA;
wire [1:0] FAB_OPMODE;
wire [3:0] FAB_VCONTROL;
wire [1:0] FAB_XCVRSEL;
wire [7:0] FAB_XDATAOUT;
wire [1:0] FIC32_0_MASTER;
wire [1:0] FIC32_1_MASTER;
wire [15:0] H2F_INTERRUPT;
wire [15:2] PER2_FABRIC_PADDR;
wire [31:0] PER2_FABRIC_PWDATA;
wire [9:0] TCGF;
wire [3:0] TRACEDATA;
wire [3:0] TXD_RIF;
wire [7:0] TXDF;
wire [3:0] F_BID;
wire [1:0] F_BRESP_HRESP0;
wire [63:0] F_RDATA_HRDATA01;
wire [3:0] F_RID;
wire [1:0] F_RRESP_HRESP1;
wire [15:0] MDDR_FABRIC_PRDATA;
wire [15:0] DRAM_ADDR;
wire [2:0] DRAM_BA;
wire [2:0] DRAM_DM_RDQS_OUT;
wire [17:0] DRAM_DQ_OUT;
wire [2:0] DRAM_DQS_OUT;
wire [1:0] DRAM_FIFO_WE_OUT;
wire [2:0] DM_OE;
wire [17:0] DRAM_DQ_OE;
wire [2:0] DRAM_DQS_OE;
wire USB_ULPI_XCLK_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_TXD1_RMII_TXD1_USBB_STP_OUT ;
wire MSS_ADLIB_INST_RGMII_TXD1_RMII_TXD1_USBB_STP_OE ;
wire USB_ULPI_NXT_PAD_Y ;
wire USB_ULPI_DIR_PAD_Y ;
wire USB_ULPI_DATA_7_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_MDIO_RMII_MDIO_USBB_DATA7_OUT ;
wire MSS_ADLIB_INST_RGMII_MDIO_RMII_MDIO_USBB_DATA7_OE ;
wire USB_ULPI_DATA_6_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_TXD3_USBB_DATA6_OUT ;
wire MSS_ADLIB_INST_RGMII_TXD3_USBB_DATA6_OE ;
wire USB_ULPI_DATA_5_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_TXD2_USBB_DATA5_OUT ;
wire MSS_ADLIB_INST_RGMII_TXD2_USBB_DATA5_OE ;
wire USB_ULPI_DATA_4_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_RXD3_USBB_DATA4_OUT ;
wire MSS_ADLIB_INST_RGMII_RXD3_USBB_DATA4_OE ;
wire USB_ULPI_DATA_3_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OUT ;
wire MSS_ADLIB_INST_RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OE ;
wire USB_ULPI_DATA_2_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OUT ;
wire MSS_ADLIB_INST_RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OE ;
wire USB_ULPI_DATA_1_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_RXD1_RMII_RXD1_USBB_DATA1_OUT ;
wire MSS_ADLIB_INST_RGMII_RXD1_RMII_RXD1_USBB_DATA1_OE ;
wire USB_ULPI_DATA_0_PAD_Y ;
wire MSS_ADLIB_INST_RGMII_RXD0_RMII_RXD0_USBB_DATA0_OUT ;
wire MSS_ADLIB_INST_RGMII_RXD0_RMII_RXD0_USBB_DATA0_OE ;
wire SPI_0_SS0_PAD_Y ;
wire MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OUT ;
wire MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OE ;
wire MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OUT ;
wire MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OE ;
wire SPI_0_DI_PAD_Y ;
wire SPI_0_CLK_PAD_Y ;
wire MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OUT ;
wire MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OE ;
wire MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OUT ;
wire MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OE ;
wire MMUART_0_RXD_PAD_Y ;
wire CAN_RXBUS_MGPIO3A_H2F_A ;
wire CAN_RXBUS_MGPIO3A_H2F_B ;
wire CAN_TX_EBL_MGPIO4A_H2F_A ;
wire CAN_TX_EBL_MGPIO4A_H2F_B ;
wire CAN_TXBUS_MGPIO2A_H2F_A ;
wire CAN_TXBUS_MGPIO2A_H2F_B ;
wire CLK_CONFIG_APB ;
wire COMMS_INT ;
wire CONFIG_PRESET_N ;
wire F_FM0_READYOUT ;
wire F_FM0_RESP ;
wire F_HM0_TRANS1 ;
wire FAB_CHRGVBUS ;
wire FAB_DISCHRGVBUS ;
wire FAB_DMPULLDOWN ;
wire FAB_DPPULLDOWN ;
wire FAB_DRVVBUS ;
wire FAB_IDPULLUP ;
wire FAB_SUSPENDM ;
wire FAB_TERMSEL ;
wire FAB_TXVALID ;
wire FAB_VCONTROLLOADM ;
wire FACC_GLMUX_SEL ;
wire GTX_CLK ;
wire H2F_NMI ;
wire H2FCALIB ;
wire I2C0_SCL_MGPIO31B_H2F_A ;
wire I2C0_SCL_MGPIO31B_H2F_B ;
wire I2C0_SDA_MGPIO30B_H2F_A ;
wire I2C0_SDA_MGPIO30B_H2F_B ;
wire I2C1_SCL_MGPIO1A_H2F_A ;
wire I2C1_SCL_MGPIO1A_H2F_B ;
wire I2C1_SDA_MGPIO0A_H2F_A ;
wire I2C1_SDA_MGPIO0A_H2F_B ;
wire MDCF ;
wire MDOENF ;
wire MDOF ;
wire MMUART0_CTS_MGPIO19B_H2F_A ;
wire MMUART0_CTS_MGPIO19B_H2F_B ;
wire MMUART0_DCD_MGPIO22B_H2F_A ;
wire MMUART0_DCD_MGPIO22B_H2F_B ;
wire MMUART0_DSR_MGPIO20B_H2F_A ;
wire MMUART0_DSR_MGPIO20B_H2F_B ;
wire MMUART0_DTR_MGPIO18B_H2F_A ;
wire MMUART0_DTR_MGPIO18B_H2F_B ;
wire MMUART0_RI_MGPIO21B_H2F_A ;
wire MMUART0_RI_MGPIO21B_H2F_B ;
wire MMUART0_RTS_MGPIO17B_H2F_A ;
wire MMUART0_RTS_MGPIO17B_H2F_B ;
wire MMUART0_RXD_MGPIO28B_H2F_A ;
wire MMUART0_RXD_MGPIO28B_H2F_B ;
wire MMUART0_SCK_MGPIO29B_H2F_A ;
wire MMUART0_SCK_MGPIO29B_H2F_B ;
wire MMUART0_TXD_MGPIO27B_H2F_A ;
wire MMUART0_TXD_MGPIO27B_H2F_B ;
wire MMUART1_DTR_MGPIO12B_H2F_A ;
wire MMUART1_RTS_MGPIO11B_H2F_A ;
wire MMUART1_RTS_MGPIO11B_H2F_B ;
wire MMUART1_RXD_MGPIO26B_H2F_A ;
wire MMUART1_RXD_MGPIO26B_H2F_B ;
wire MMUART1_SCK_MGPIO25B_H2F_A ;
wire MMUART1_SCK_MGPIO25B_H2F_B ;
wire MMUART1_TXD_MGPIO24B_H2F_A ;
wire MMUART1_TXD_MGPIO24B_H2F_B ;
wire MPLL_LOCK ;
wire PER2_FABRIC_PENABLE ;
wire PER2_FABRIC_PSEL ;
wire PER2_FABRIC_PWRITE ;
wire RTC_MATCH ;
wire SLEEPDEEP ;
wire SLEEPHOLDACK ;
wire SLEEPING ;
wire SMBALERT_NO0 ;
wire SMBALERT_NO1 ;
wire SMBSUS_NO0 ;
wire SMBSUS_NO1 ;
wire SPI0_CLK_OUT ;
wire SPI0_SDI_MGPIO5A_H2F_A ;
wire SPI0_SDI_MGPIO5A_H2F_B ;
wire SPI0_SDO_MGPIO6A_H2F_A ;
wire SPI0_SDO_MGPIO6A_H2F_B ;
wire SPI0_SS0_MGPIO7A_H2F_A ;
wire SPI0_SS0_MGPIO7A_H2F_B ;
wire SPI0_SS1_MGPIO8A_H2F_A ;
wire SPI0_SS1_MGPIO8A_H2F_B ;
wire SPI0_SS2_MGPIO9A_H2F_A ;
wire SPI0_SS2_MGPIO9A_H2F_B ;
wire SPI0_SS3_MGPIO10A_H2F_A ;
wire SPI0_SS3_MGPIO10A_H2F_B ;
wire SPI0_SS4_MGPIO19A_H2F_A ;
wire SPI0_SS5_MGPIO20A_H2F_A ;
wire SPI0_SS6_MGPIO21A_H2F_A ;
wire SPI0_SS7_MGPIO22A_H2F_A ;
wire SPI1_CLK_OUT ;
wire SPI1_SDI_MGPIO11A_H2F_A ;
wire SPI1_SDI_MGPIO11A_H2F_B ;
wire SPI1_SDO_MGPIO12A_H2F_A ;
wire SPI1_SDO_MGPIO12A_H2F_B ;
wire SPI1_SS0_MGPIO13A_H2F_A ;
wire SPI1_SS0_MGPIO13A_H2F_B ;
wire SPI1_SS1_MGPIO14A_H2F_A ;
wire SPI1_SS1_MGPIO14A_H2F_B ;
wire SPI1_SS2_MGPIO15A_H2F_A ;
wire SPI1_SS2_MGPIO15A_H2F_B ;
wire SPI1_SS3_MGPIO16A_H2F_A ;
wire SPI1_SS3_MGPIO16A_H2F_B ;
wire SPI1_SS4_MGPIO17A_H2F_A ;
wire SPI1_SS5_MGPIO18A_H2F_A ;
wire SPI1_SS6_MGPIO23A_H2F_A ;
wire SPI1_SS7_MGPIO24A_H2F_A ;
wire TRACECLK ;
wire TX_CLK ;
wire TX_ENF ;
wire TX_ERRF ;
wire TXCTL_EN_RIF ;
wire TXEV ;
wire WDOGTIMEOUT ;
wire F_ARREADY_HREADYOUT1 ;
wire F_AWREADY_HREADYOUT0 ;
wire F_BVALID ;
wire F_RLAST ;
wire F_RVALID ;
wire F_WREADY ;
wire MDDR_FABRIC_PREADY ;
wire MDDR_FABRIC_PSLVERR ;
wire VCC ;
wire GND ;
wire CAN_RXBUS_USBA_DATA1_MGPIO3A_OUT ;
wire CAN_TX_EBL_USBA_DATA2_MGPIO4A_OUT ;
wire CAN_TXBUS_USBA_DATA0_MGPIO2A_OUT ;
wire DRAM_CASN ;
wire DRAM_CKE ;
wire DRAM_CLK ;
wire DRAM_CSN ;
wire DRAM_ODT ;
wire DRAM_RASN ;
wire DRAM_RSTN ;
wire DRAM_WEN ;
wire I2C0_SCL_USBC_DATA1_MGPIO31B_OUT ;
wire I2C0_SDA_USBC_DATA0_MGPIO30B_OUT ;
wire I2C1_SCL_USBA_DATA4_MGPIO1A_OUT ;
wire I2C1_SDA_USBA_DATA3_MGPIO0A_OUT ;
wire MMUART0_CTS_USBC_DATA7_MGPIO19B_OUT ;
wire MMUART0_DCD_MGPIO22B_OUT ;
wire MMUART0_DSR_MGPIO20B_OUT ;
wire MMUART0_DTR_USBC_DATA6_MGPIO18B_OUT ;
wire MMUART0_RI_MGPIO21B_OUT ;
wire MMUART0_RTS_USBC_DATA5_MGPIO17B_OUT ;
wire MMUART0_RXD_USBC_STP_MGPIO28B_OUT ;
wire MMUART0_SCK_USBC_NXT_MGPIO29B_OUT ;
wire MMUART1_RXD_USBC_DATA3_MGPIO26B_OUT ;
wire MMUART1_SCK_USBC_DATA4_MGPIO25B_OUT ;
wire MMUART1_TXD_USBC_DATA2_MGPIO24B_OUT ;
wire RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OUT ;
wire RGMII_MDC_RMII_MDC_OUT ;
wire RGMII_RX_CLK_OUT ;
wire RGMII_TX_CLK_OUT ;
wire RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OUT ;
wire RGMII_TXD0_RMII_TXD0_USBB_DIR_OUT ;
wire SPI0_SDI_USBA_DIR_MGPIO5A_OUT ;
wire SPI0_SS1_USBA_DATA5_MGPIO8A_OUT ;
wire SPI0_SS2_USBA_DATA6_MGPIO9A_OUT ;
wire SPI0_SS3_USBA_DATA7_MGPIO10A_OUT ;
wire SPI1_SCK_OUT ;
wire SPI1_SDI_MGPIO11A_OUT ;
wire SPI1_SDO_MGPIO12A_OUT ;
wire SPI1_SS0_MGPIO13A_OUT ;
wire SPI1_SS1_MGPIO14A_OUT ;
wire SPI1_SS2_MGPIO15A_OUT ;
wire SPI1_SS3_MGPIO16A_OUT ;
wire SPI1_SS4_MGPIO17A_OUT ;
wire SPI1_SS5_MGPIO18A_OUT ;
wire SPI1_SS6_MGPIO23A_OUT ;
wire SPI1_SS7_MGPIO24A_OUT ;
wire USBC_XCLK_OUT ;
wire CAN_RXBUS_USBA_DATA1_MGPIO3A_OE ;
wire CAN_TX_EBL_USBA_DATA2_MGPIO4A_OE ;
wire CAN_TXBUS_USBA_DATA0_MGPIO2A_OE ;
wire I2C0_SCL_USBC_DATA1_MGPIO31B_OE ;
wire I2C0_SDA_USBC_DATA0_MGPIO30B_OE ;
wire I2C1_SCL_USBA_DATA4_MGPIO1A_OE ;
wire I2C1_SDA_USBA_DATA3_MGPIO0A_OE ;
wire MMUART0_CTS_USBC_DATA7_MGPIO19B_OE ;
wire MMUART0_DCD_MGPIO22B_OE ;
wire MMUART0_DSR_MGPIO20B_OE ;
wire MMUART0_DTR_USBC_DATA6_MGPIO18B_OE ;
wire MMUART0_RI_MGPIO21B_OE ;
wire MMUART0_RTS_USBC_DATA5_MGPIO17B_OE ;
wire MMUART0_RXD_USBC_STP_MGPIO28B_OE ;
wire MMUART0_SCK_USBC_NXT_MGPIO29B_OE ;
wire MMUART1_RXD_USBC_DATA3_MGPIO26B_OE ;
wire MMUART1_SCK_USBC_DATA4_MGPIO25B_OE ;
wire MMUART1_TXD_USBC_DATA2_MGPIO24B_OE ;
wire RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OE ;
wire RGMII_MDC_RMII_MDC_OE ;
wire RGMII_RX_CLK_OE ;
wire RGMII_TX_CLK_OE ;
wire RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OE ;
wire RGMII_TXD0_RMII_TXD0_USBB_DIR_OE ;
wire SPI0_SDI_USBA_DIR_MGPIO5A_OE ;
wire SPI0_SS1_USBA_DATA5_MGPIO8A_OE ;
wire SPI0_SS2_USBA_DATA6_MGPIO9A_OE ;
wire SPI0_SS3_USBA_DATA7_MGPIO10A_OE ;
wire SPI1_SCK_OE ;
wire SPI1_SDI_MGPIO11A_OE ;
wire SPI1_SDO_MGPIO12A_OE ;
wire SPI1_SS0_MGPIO13A_OE ;
wire SPI1_SS1_MGPIO14A_OE ;
wire SPI1_SS2_MGPIO15A_OE ;
wire SPI1_SS3_MGPIO16A_OE ;
wire SPI1_SS4_MGPIO17A_OE ;
wire SPI1_SS5_MGPIO18A_OE ;
wire SPI1_SS6_MGPIO23A_OE ;
wire SPI1_SS7_MGPIO24A_OE ;
wire USBC_XCLK_OE ;
// @18:1438
  INBUF USB_ULPI_XCLK_PAD (
	.Y(USB_ULPI_XCLK_PAD_Y),
	.PAD(USB_ULPI_XCLK)
);
// @18:1429
  TRIBUFF USB_ULPI_STP_PAD (
	.PAD(USB_ULPI_STP),
	.D(MSS_ADLIB_INST_RGMII_TXD1_RMII_TXD1_USBB_STP_OUT),
	.E(MSS_ADLIB_INST_RGMII_TXD1_RMII_TXD1_USBB_STP_OE)
);
// @18:1421
  INBUF USB_ULPI_NXT_PAD (
	.Y(USB_ULPI_NXT_PAD_Y),
	.PAD(USB_ULPI_NXT)
);
// @18:1413
  INBUF USB_ULPI_DIR_PAD (
	.Y(USB_ULPI_DIR_PAD_Y),
	.PAD(USB_ULPI_DIR)
);
// @18:1402
  BIBUF USB_ULPI_DATA_7_PAD (
	.Y(USB_ULPI_DATA_7_PAD_Y),
	.PAD(USB_ULPI_DATA[7]),
	.D(MSS_ADLIB_INST_RGMII_MDIO_RMII_MDIO_USBB_DATA7_OUT),
	.E(MSS_ADLIB_INST_RGMII_MDIO_RMII_MDIO_USBB_DATA7_OE)
);
// @18:1391
  BIBUF USB_ULPI_DATA_6_PAD (
	.Y(USB_ULPI_DATA_6_PAD_Y),
	.PAD(USB_ULPI_DATA[6]),
	.D(MSS_ADLIB_INST_RGMII_TXD3_USBB_DATA6_OUT),
	.E(MSS_ADLIB_INST_RGMII_TXD3_USBB_DATA6_OE)
);
// @18:1380
  BIBUF USB_ULPI_DATA_5_PAD (
	.Y(USB_ULPI_DATA_5_PAD_Y),
	.PAD(USB_ULPI_DATA[5]),
	.D(MSS_ADLIB_INST_RGMII_TXD2_USBB_DATA5_OUT),
	.E(MSS_ADLIB_INST_RGMII_TXD2_USBB_DATA5_OE)
);
// @18:1369
  BIBUF USB_ULPI_DATA_4_PAD (
	.Y(USB_ULPI_DATA_4_PAD_Y),
	.PAD(USB_ULPI_DATA[4]),
	.D(MSS_ADLIB_INST_RGMII_RXD3_USBB_DATA4_OUT),
	.E(MSS_ADLIB_INST_RGMII_RXD3_USBB_DATA4_OE)
);
// @18:1358
  BIBUF USB_ULPI_DATA_3_PAD (
	.Y(USB_ULPI_DATA_3_PAD_Y),
	.PAD(USB_ULPI_DATA[3]),
	.D(MSS_ADLIB_INST_RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OUT),
	.E(MSS_ADLIB_INST_RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OE)
);
// @18:1347
  BIBUF USB_ULPI_DATA_2_PAD (
	.Y(USB_ULPI_DATA_2_PAD_Y),
	.PAD(USB_ULPI_DATA[2]),
	.D(MSS_ADLIB_INST_RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OUT),
	.E(MSS_ADLIB_INST_RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OE)
);
// @18:1336
  BIBUF USB_ULPI_DATA_1_PAD (
	.Y(USB_ULPI_DATA_1_PAD_Y),
	.PAD(USB_ULPI_DATA[1]),
	.D(MSS_ADLIB_INST_RGMII_RXD1_RMII_RXD1_USBB_DATA1_OUT),
	.E(MSS_ADLIB_INST_RGMII_RXD1_RMII_RXD1_USBB_DATA1_OE)
);
// @18:1325
  BIBUF USB_ULPI_DATA_0_PAD (
	.Y(USB_ULPI_DATA_0_PAD_Y),
	.PAD(USB_ULPI_DATA[0]),
	.D(MSS_ADLIB_INST_RGMII_RXD0_RMII_RXD0_USBB_DATA0_OUT),
	.E(MSS_ADLIB_INST_RGMII_RXD0_RMII_RXD0_USBB_DATA0_OE)
);
// @18:1314
  BIBUF SPI_0_SS0_PAD (
	.Y(SPI_0_SS0_PAD_Y),
	.PAD(SPI_0_SS0),
	.D(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OUT),
	.E(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OE)
);
// @18:1305
  TRIBUFF SPI_0_DO_PAD (
	.PAD(SPI_0_DO),
	.D(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OUT),
	.E(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OE)
);
// @18:1297
  INBUF SPI_0_DI_PAD (
	.Y(SPI_0_DI_PAD_Y),
	.PAD(SPI_0_DI)
);
// @18:1286
  BIBUF SPI_0_CLK_PAD (
	.Y(SPI_0_CLK_PAD_Y),
	.PAD(SPI_0_CLK),
	.D(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OUT),
	.E(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OE)
);
// @18:774
  TRIBUFF MMUART_0_TXD_PAD (
	.PAD(MMUART_0_TXD),
	.D(MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OUT),
	.E(MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OE)
);
// @18:766
  INBUF MMUART_0_RXD_PAD (
	.Y(MMUART_0_RXD_PAD_Y),
	.PAD(MMUART_0_RXD)
);
// @18:783
  MSS_010 MSS_ADLIB_INST (
	.CAN_RXBUS_MGPIO3A_H2F_A(CAN_RXBUS_MGPIO3A_H2F_A),
	.CAN_RXBUS_MGPIO3A_H2F_B(CAN_RXBUS_MGPIO3A_H2F_B),
	.CAN_TX_EBL_MGPIO4A_H2F_A(CAN_TX_EBL_MGPIO4A_H2F_A),
	.CAN_TX_EBL_MGPIO4A_H2F_B(CAN_TX_EBL_MGPIO4A_H2F_B),
	.CAN_TXBUS_MGPIO2A_H2F_A(CAN_TXBUS_MGPIO2A_H2F_A),
	.CAN_TXBUS_MGPIO2A_H2F_B(CAN_TXBUS_MGPIO2A_H2F_B),
	.CLK_CONFIG_APB(CLK_CONFIG_APB),
	.COMMS_INT(COMMS_INT),
	.CONFIG_PRESET_N(CONFIG_PRESET_N),
	.EDAC_ERROR(EDAC_ERROR[7:0]),
	.F_FM0_RDATA(F_FM0_RDATA[31:0]),
	.F_FM0_READYOUT(F_FM0_READYOUT),
	.F_FM0_RESP(F_FM0_RESP),
	.F_HM0_ADDR({FIC_0_APB_M_PADDR[31:28], MSS_C0_MSS_0_FIC_0_APB_M_PADDR[27:24], FIC_0_APB_M_PADDR[23:8], PADDRS_net_0[7:0]}),
	.F_HM0_ENABLE(CoreAPB3_C0_0_PENABLES),
	.F_HM0_SEL(MSS_C0_MSS_0_FIC_0_APB_M_PSEL),
	.F_HM0_SIZE(F_HM0_SIZE[1:0]),
	.F_HM0_TRANS1(F_HM0_TRANS1),
	.F_HM0_WDATA({FIC_0_APB_M_PWDATA[31:4], CoreAPB3_C0_0_PWDATAS[3:0]}),
	.F_HM0_WRITE(CoreAPB3_C0_0_PWRITES),
	.FAB_CHRGVBUS(FAB_CHRGVBUS),
	.FAB_DISCHRGVBUS(FAB_DISCHRGVBUS),
	.FAB_DMPULLDOWN(FAB_DMPULLDOWN),
	.FAB_DPPULLDOWN(FAB_DPPULLDOWN),
	.FAB_DRVVBUS(FAB_DRVVBUS),
	.FAB_IDPULLUP(FAB_IDPULLUP),
	.FAB_OPMODE(FAB_OPMODE[1:0]),
	.FAB_SUSPENDM(FAB_SUSPENDM),
	.FAB_TERMSEL(FAB_TERMSEL),
	.FAB_TXVALID(FAB_TXVALID),
	.FAB_VCONTROL(FAB_VCONTROL[3:0]),
	.FAB_VCONTROLLOADM(FAB_VCONTROLLOADM),
	.FAB_XCVRSEL(FAB_XCVRSEL[1:0]),
	.FAB_XDATAOUT(FAB_XDATAOUT[7:0]),
	.FACC_GLMUX_SEL(FACC_GLMUX_SEL),
	.FIC32_0_MASTER(FIC32_0_MASTER[1:0]),
	.FIC32_1_MASTER(FIC32_1_MASTER[1:0]),
	.FPGA_RESET_N(MSS_RESET_N_M2F),
	.GTX_CLK(GTX_CLK),
	.H2F_INTERRUPT(H2F_INTERRUPT[15:0]),
	.H2F_NMI(H2F_NMI),
	.H2FCALIB(H2FCALIB),
	.I2C0_SCL_MGPIO31B_H2F_A(I2C0_SCL_MGPIO31B_H2F_A),
	.I2C0_SCL_MGPIO31B_H2F_B(I2C0_SCL_MGPIO31B_H2F_B),
	.I2C0_SDA_MGPIO30B_H2F_A(I2C0_SDA_MGPIO30B_H2F_A),
	.I2C0_SDA_MGPIO30B_H2F_B(I2C0_SDA_MGPIO30B_H2F_B),
	.I2C1_SCL_MGPIO1A_H2F_A(I2C1_SCL_MGPIO1A_H2F_A),
	.I2C1_SCL_MGPIO1A_H2F_B(I2C1_SCL_MGPIO1A_H2F_B),
	.I2C1_SDA_MGPIO0A_H2F_A(I2C1_SDA_MGPIO0A_H2F_A),
	.I2C1_SDA_MGPIO0A_H2F_B(I2C1_SDA_MGPIO0A_H2F_B),
	.MDCF(MDCF),
	.MDOENF(MDOENF),
	.MDOF(MDOF),
	.MMUART0_CTS_MGPIO19B_H2F_A(MMUART0_CTS_MGPIO19B_H2F_A),
	.MMUART0_CTS_MGPIO19B_H2F_B(MMUART0_CTS_MGPIO19B_H2F_B),
	.MMUART0_DCD_MGPIO22B_H2F_A(MMUART0_DCD_MGPIO22B_H2F_A),
	.MMUART0_DCD_MGPIO22B_H2F_B(MMUART0_DCD_MGPIO22B_H2F_B),
	.MMUART0_DSR_MGPIO20B_H2F_A(MMUART0_DSR_MGPIO20B_H2F_A),
	.MMUART0_DSR_MGPIO20B_H2F_B(MMUART0_DSR_MGPIO20B_H2F_B),
	.MMUART0_DTR_MGPIO18B_H2F_A(MMUART0_DTR_MGPIO18B_H2F_A),
	.MMUART0_DTR_MGPIO18B_H2F_B(MMUART0_DTR_MGPIO18B_H2F_B),
	.MMUART0_RI_MGPIO21B_H2F_A(MMUART0_RI_MGPIO21B_H2F_A),
	.MMUART0_RI_MGPIO21B_H2F_B(MMUART0_RI_MGPIO21B_H2F_B),
	.MMUART0_RTS_MGPIO17B_H2F_A(MMUART0_RTS_MGPIO17B_H2F_A),
	.MMUART0_RTS_MGPIO17B_H2F_B(MMUART0_RTS_MGPIO17B_H2F_B),
	.MMUART0_RXD_MGPIO28B_H2F_A(MMUART0_RXD_MGPIO28B_H2F_A),
	.MMUART0_RXD_MGPIO28B_H2F_B(MMUART0_RXD_MGPIO28B_H2F_B),
	.MMUART0_SCK_MGPIO29B_H2F_A(MMUART0_SCK_MGPIO29B_H2F_A),
	.MMUART0_SCK_MGPIO29B_H2F_B(MMUART0_SCK_MGPIO29B_H2F_B),
	.MMUART0_TXD_MGPIO27B_H2F_A(MMUART0_TXD_MGPIO27B_H2F_A),
	.MMUART0_TXD_MGPIO27B_H2F_B(MMUART0_TXD_MGPIO27B_H2F_B),
	.MMUART1_DTR_MGPIO12B_H2F_A(MMUART1_DTR_MGPIO12B_H2F_A),
	.MMUART1_RTS_MGPIO11B_H2F_A(MMUART1_RTS_MGPIO11B_H2F_A),
	.MMUART1_RTS_MGPIO11B_H2F_B(MMUART1_RTS_MGPIO11B_H2F_B),
	.MMUART1_RXD_MGPIO26B_H2F_A(MMUART1_RXD_MGPIO26B_H2F_A),
	.MMUART1_RXD_MGPIO26B_H2F_B(MMUART1_RXD_MGPIO26B_H2F_B),
	.MMUART1_SCK_MGPIO25B_H2F_A(MMUART1_SCK_MGPIO25B_H2F_A),
	.MMUART1_SCK_MGPIO25B_H2F_B(MMUART1_SCK_MGPIO25B_H2F_B),
	.MMUART1_TXD_MGPIO24B_H2F_A(MMUART1_TXD_MGPIO24B_H2F_A),
	.MMUART1_TXD_MGPIO24B_H2F_B(MMUART1_TXD_MGPIO24B_H2F_B),
	.MPLL_LOCK(MPLL_LOCK),
	.PER2_FABRIC_PADDR(PER2_FABRIC_PADDR[15:2]),
	.PER2_FABRIC_PENABLE(PER2_FABRIC_PENABLE),
	.PER2_FABRIC_PSEL(PER2_FABRIC_PSEL),
	.PER2_FABRIC_PWDATA(PER2_FABRIC_PWDATA[31:0]),
	.PER2_FABRIC_PWRITE(PER2_FABRIC_PWRITE),
	.RTC_MATCH(RTC_MATCH),
	.SLEEPDEEP(SLEEPDEEP),
	.SLEEPHOLDACK(SLEEPHOLDACK),
	.SLEEPING(SLEEPING),
	.SMBALERT_NO0(SMBALERT_NO0),
	.SMBALERT_NO1(SMBALERT_NO1),
	.SMBSUS_NO0(SMBSUS_NO0),
	.SMBSUS_NO1(SMBSUS_NO1),
	.SPI0_CLK_OUT(SPI0_CLK_OUT),
	.SPI0_SDI_MGPIO5A_H2F_A(SPI0_SDI_MGPIO5A_H2F_A),
	.SPI0_SDI_MGPIO5A_H2F_B(SPI0_SDI_MGPIO5A_H2F_B),
	.SPI0_SDO_MGPIO6A_H2F_A(SPI0_SDO_MGPIO6A_H2F_A),
	.SPI0_SDO_MGPIO6A_H2F_B(SPI0_SDO_MGPIO6A_H2F_B),
	.SPI0_SS0_MGPIO7A_H2F_A(SPI0_SS0_MGPIO7A_H2F_A),
	.SPI0_SS0_MGPIO7A_H2F_B(SPI0_SS0_MGPIO7A_H2F_B),
	.SPI0_SS1_MGPIO8A_H2F_A(SPI0_SS1_MGPIO8A_H2F_A),
	.SPI0_SS1_MGPIO8A_H2F_B(SPI0_SS1_MGPIO8A_H2F_B),
	.SPI0_SS2_MGPIO9A_H2F_A(SPI0_SS2_MGPIO9A_H2F_A),
	.SPI0_SS2_MGPIO9A_H2F_B(SPI0_SS2_MGPIO9A_H2F_B),
	.SPI0_SS3_MGPIO10A_H2F_A(SPI0_SS3_MGPIO10A_H2F_A),
	.SPI0_SS3_MGPIO10A_H2F_B(SPI0_SS3_MGPIO10A_H2F_B),
	.SPI0_SS4_MGPIO19A_H2F_A(SPI0_SS4_MGPIO19A_H2F_A),
	.SPI0_SS5_MGPIO20A_H2F_A(SPI0_SS5_MGPIO20A_H2F_A),
	.SPI0_SS6_MGPIO21A_H2F_A(SPI0_SS6_MGPIO21A_H2F_A),
	.SPI0_SS7_MGPIO22A_H2F_A(SPI0_SS7_MGPIO22A_H2F_A),
	.SPI1_CLK_OUT(SPI1_CLK_OUT),
	.SPI1_SDI_MGPIO11A_H2F_A(SPI1_SDI_MGPIO11A_H2F_A),
	.SPI1_SDI_MGPIO11A_H2F_B(SPI1_SDI_MGPIO11A_H2F_B),
	.SPI1_SDO_MGPIO12A_H2F_A(SPI1_SDO_MGPIO12A_H2F_A),
	.SPI1_SDO_MGPIO12A_H2F_B(SPI1_SDO_MGPIO12A_H2F_B),
	.SPI1_SS0_MGPIO13A_H2F_A(SPI1_SS0_MGPIO13A_H2F_A),
	.SPI1_SS0_MGPIO13A_H2F_B(SPI1_SS0_MGPIO13A_H2F_B),
	.SPI1_SS1_MGPIO14A_H2F_A(SPI1_SS1_MGPIO14A_H2F_A),
	.SPI1_SS1_MGPIO14A_H2F_B(SPI1_SS1_MGPIO14A_H2F_B),
	.SPI1_SS2_MGPIO15A_H2F_A(SPI1_SS2_MGPIO15A_H2F_A),
	.SPI1_SS2_MGPIO15A_H2F_B(SPI1_SS2_MGPIO15A_H2F_B),
	.SPI1_SS3_MGPIO16A_H2F_A(SPI1_SS3_MGPIO16A_H2F_A),
	.SPI1_SS3_MGPIO16A_H2F_B(SPI1_SS3_MGPIO16A_H2F_B),
	.SPI1_SS4_MGPIO17A_H2F_A(SPI1_SS4_MGPIO17A_H2F_A),
	.SPI1_SS5_MGPIO18A_H2F_A(SPI1_SS5_MGPIO18A_H2F_A),
	.SPI1_SS6_MGPIO23A_H2F_A(SPI1_SS6_MGPIO23A_H2F_A),
	.SPI1_SS7_MGPIO24A_H2F_A(SPI1_SS7_MGPIO24A_H2F_A),
	.TCGF(TCGF[9:0]),
	.TRACECLK(TRACECLK),
	.TRACEDATA(TRACEDATA[3:0]),
	.TX_CLK(TX_CLK),
	.TX_ENF(TX_ENF),
	.TX_ERRF(TX_ERRF),
	.TXCTL_EN_RIF(TXCTL_EN_RIF),
	.TXD_RIF(TXD_RIF[3:0]),
	.TXDF(TXDF[7:0]),
	.TXEV(TXEV),
	.WDOGTIMEOUT(WDOGTIMEOUT),
	.F_ARREADY_HREADYOUT1(F_ARREADY_HREADYOUT1),
	.F_AWREADY_HREADYOUT0(F_AWREADY_HREADYOUT0),
	.F_BID(F_BID[3:0]),
	.F_BRESP_HRESP0(F_BRESP_HRESP0[1:0]),
	.F_BVALID(F_BVALID),
	.F_RDATA_HRDATA01(F_RDATA_HRDATA01[63:0]),
	.F_RID(F_RID[3:0]),
	.F_RLAST(F_RLAST),
	.F_RRESP_HRESP1(F_RRESP_HRESP1[1:0]),
	.F_RVALID(F_RVALID),
	.F_WREADY(F_WREADY),
	.MDDR_FABRIC_PRDATA(MDDR_FABRIC_PRDATA[15:0]),
	.MDDR_FABRIC_PREADY(MDDR_FABRIC_PREADY),
	.MDDR_FABRIC_PSLVERR(MDDR_FABRIC_PSLVERR),
	.CAN_RXBUS_F2H_SCP(VCC),
	.CAN_TX_EBL_F2H_SCP(VCC),
	.CAN_TXBUS_F2H_SCP(VCC),
	.COLF(VCC),
	.CRSF(VCC),
	.F2_DMAREADY({VCC, VCC}),
	.F2H_INTERRUPT({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.F2HCALIB(VCC),
	.F_DMAREADY({VCC, VCC}),
	.F_FM0_ADDR({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.F_FM0_ENABLE(GND),
	.F_FM0_MASTLOCK(GND),
	.F_FM0_READY(VCC),
	.F_FM0_SEL(GND),
	.F_FM0_SIZE({GND, GND}),
	.F_FM0_TRANS1(GND),
	.F_FM0_WDATA({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.F_FM0_WRITE(GND),
	.F_HM0_RDATA({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, CoreAPB3_C0_0_PRDATA[3:0]}),
	.F_HM0_READY(VCC),
	.F_HM0_RESP(GND),
	.FAB_AVALID(VCC),
	.FAB_HOSTDISCON(VCC),
	.FAB_IDDIG(VCC),
	.FAB_LINESTATE({VCC, VCC}),
	.FAB_M3_RESET_N(VCC),
	.FAB_PLL_LOCK(VCC),
	.FAB_RXACTIVE(VCC),
	.FAB_RXERROR(VCC),
	.FAB_RXVALID(VCC),
	.FAB_RXVALIDH(GND),
	.FAB_SESSEND(VCC),
	.FAB_TXREADY(VCC),
	.FAB_VBUSVALID(VCC),
	.FAB_VSTATUS({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.FAB_XDATAIN({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.GTX_CLKPF(VCC),
	.I2C0_BCLK(VCC),
	.I2C0_SCL_F2H_SCP(VCC),
	.I2C0_SDA_F2H_SCP(VCC),
	.I2C1_BCLK(VCC),
	.I2C1_SCL_F2H_SCP(VCC),
	.I2C1_SDA_F2H_SCP(VCC),
	.MDIF(VCC),
	.MGPIO0A_F2H_GPIN(VCC),
	.MGPIO10A_F2H_GPIN(VCC),
	.MGPIO11A_F2H_GPIN(VCC),
	.MGPIO11B_F2H_GPIN(VCC),
	.MGPIO12A_F2H_GPIN(VCC),
	.MGPIO13A_F2H_GPIN(VCC),
	.MGPIO14A_F2H_GPIN(VCC),
	.MGPIO15A_F2H_GPIN(VCC),
	.MGPIO16A_F2H_GPIN(VCC),
	.MGPIO17B_F2H_GPIN(VCC),
	.MGPIO18B_F2H_GPIN(VCC),
	.MGPIO19B_F2H_GPIN(VCC),
	.MGPIO1A_F2H_GPIN(VCC),
	.MGPIO20B_F2H_GPIN(VCC),
	.MGPIO21B_F2H_GPIN(VCC),
	.MGPIO22B_F2H_GPIN(VCC),
	.MGPIO24B_F2H_GPIN(VCC),
	.MGPIO25B_F2H_GPIN(VCC),
	.MGPIO26B_F2H_GPIN(VCC),
	.MGPIO27B_F2H_GPIN(VCC),
	.MGPIO28B_F2H_GPIN(VCC),
	.MGPIO29B_F2H_GPIN(VCC),
	.MGPIO2A_F2H_GPIN(VCC),
	.MGPIO30B_F2H_GPIN(VCC),
	.MGPIO31B_F2H_GPIN(VCC),
	.MGPIO3A_F2H_GPIN(VCC),
	.MGPIO4A_F2H_GPIN(VCC),
	.MGPIO5A_F2H_GPIN(VCC),
	.MGPIO6A_F2H_GPIN(VCC),
	.MGPIO7A_F2H_GPIN(VCC),
	.MGPIO8A_F2H_GPIN(VCC),
	.MGPIO9A_F2H_GPIN(VCC),
	.MMUART0_CTS_F2H_SCP(VCC),
	.MMUART0_DCD_F2H_SCP(VCC),
	.MMUART0_DSR_F2H_SCP(VCC),
	.MMUART0_DTR_F2H_SCP(VCC),
	.MMUART0_RI_F2H_SCP(VCC),
	.MMUART0_RTS_F2H_SCP(VCC),
	.MMUART0_RXD_F2H_SCP(VCC),
	.MMUART0_SCK_F2H_SCP(VCC),
	.MMUART0_TXD_F2H_SCP(VCC),
	.MMUART1_CTS_F2H_SCP(VCC),
	.MMUART1_DCD_F2H_SCP(VCC),
	.MMUART1_DSR_F2H_SCP(VCC),
	.MMUART1_RI_F2H_SCP(VCC),
	.MMUART1_RTS_F2H_SCP(VCC),
	.MMUART1_RXD_F2H_SCP(VCC),
	.MMUART1_SCK_F2H_SCP(VCC),
	.MMUART1_TXD_F2H_SCP(VCC),
	.PER2_FABRIC_PRDATA({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.PER2_FABRIC_PREADY(VCC),
	.PER2_FABRIC_PSLVERR(VCC),
	.RCGF({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.RX_CLKPF(VCC),
	.RX_DVF(VCC),
	.RX_ERRF(VCC),
	.RX_EV(VCC),
	.RXDF({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.SLEEPHOLDREQ(GND),
	.SMBALERT_NI0(VCC),
	.SMBALERT_NI1(VCC),
	.SMBSUS_NI0(VCC),
	.SMBSUS_NI1(VCC),
	.SPI0_CLK_IN(VCC),
	.SPI0_SDI_F2H_SCP(VCC),
	.SPI0_SDO_F2H_SCP(VCC),
	.SPI0_SS0_F2H_SCP(VCC),
	.SPI0_SS1_F2H_SCP(VCC),
	.SPI0_SS2_F2H_SCP(VCC),
	.SPI0_SS3_F2H_SCP(VCC),
	.SPI1_CLK_IN(VCC),
	.SPI1_SDI_F2H_SCP(VCC),
	.SPI1_SDO_F2H_SCP(VCC),
	.SPI1_SS0_F2H_SCP(VCC),
	.SPI1_SS1_F2H_SCP(VCC),
	.SPI1_SS2_F2H_SCP(VCC),
	.SPI1_SS3_F2H_SCP(VCC),
	.TX_CLKPF(VCC),
	.USER_MSS_GPIO_RESET_N(VCC),
	.USER_MSS_RESET_N(VCC),
	.XCLK_FAB(VCC),
	.CLK_BASE(GND),
	.CLK_MDDR_APB(VCC),
	.F_ARADDR_HADDR1({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.F_ARBURST_HTRANS1({GND, GND}),
	.F_ARID_HSEL1({GND, GND, GND, GND}),
	.F_ARLEN_HBURST1({GND, GND, GND, GND}),
	.F_ARLOCK_HMASTLOCK1({GND, GND}),
	.F_ARSIZE_HSIZE1({GND, GND}),
	.F_ARVALID_HWRITE1(GND),
	.F_AWADDR_HADDR0({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.F_AWBURST_HTRANS0({GND, GND}),
	.F_AWID_HSEL0({GND, GND, GND, GND}),
	.F_AWLEN_HBURST0({GND, GND, GND, GND}),
	.F_AWLOCK_HMASTLOCK0({GND, GND}),
	.F_AWSIZE_HSIZE0({GND, GND}),
	.F_AWVALID_HWRITE0(GND),
	.F_BREADY(GND),
	.F_RMW_AXI(GND),
	.F_RREADY(GND),
	.F_WDATA_HWDATA01({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.F_WID_HREADY01({GND, GND, GND, GND}),
	.F_WLAST(GND),
	.F_WSTRB({GND, GND, GND, GND, GND, GND, GND, GND}),
	.F_WVALID(GND),
	.FPGA_MDDR_ARESET_N(VCC),
	.MDDR_FABRIC_PADDR({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.MDDR_FABRIC_PENABLE(VCC),
	.MDDR_FABRIC_PSEL(VCC),
	.MDDR_FABRIC_PWDATA({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.MDDR_FABRIC_PWRITE(VCC),
	.PRESET_N(GND),
	.CAN_RXBUS_USBA_DATA1_MGPIO3A_IN(GND),
	.CAN_TX_EBL_USBA_DATA2_MGPIO4A_IN(GND),
	.CAN_TXBUS_USBA_DATA0_MGPIO2A_IN(GND),
	.DM_IN({GND, GND, GND}),
	.DRAM_DQ_IN({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.DRAM_DQS_IN({GND, GND, GND}),
	.DRAM_FIFO_WE_IN({GND, GND}),
	.I2C0_SCL_USBC_DATA1_MGPIO31B_IN(GND),
	.I2C0_SDA_USBC_DATA0_MGPIO30B_IN(GND),
	.I2C1_SCL_USBA_DATA4_MGPIO1A_IN(GND),
	.I2C1_SDA_USBA_DATA3_MGPIO0A_IN(GND),
	.MMUART0_CTS_USBC_DATA7_MGPIO19B_IN(GND),
	.MMUART0_DCD_MGPIO22B_IN(GND),
	.MMUART0_DSR_MGPIO20B_IN(GND),
	.MMUART0_DTR_USBC_DATA6_MGPIO18B_IN(GND),
	.MMUART0_RI_MGPIO21B_IN(GND),
	.MMUART0_RTS_USBC_DATA5_MGPIO17B_IN(GND),
	.MMUART0_RXD_USBC_STP_MGPIO28B_IN(MMUART_0_RXD_PAD_Y),
	.MMUART0_SCK_USBC_NXT_MGPIO29B_IN(GND),
	.MMUART0_TXD_USBC_DIR_MGPIO27B_IN(GND),
	.MMUART1_RXD_USBC_DATA3_MGPIO26B_IN(GND),
	.MMUART1_SCK_USBC_DATA4_MGPIO25B_IN(GND),
	.MMUART1_TXD_USBC_DATA2_MGPIO24B_IN(GND),
	.RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_IN(USB_ULPI_XCLK_PAD_Y),
	.RGMII_MDC_RMII_MDC_IN(GND),
	.RGMII_MDIO_RMII_MDIO_USBB_DATA7_IN(USB_ULPI_DATA_7_PAD_Y),
	.RGMII_RX_CLK_IN(GND),
	.RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_IN(USB_ULPI_DATA_2_PAD_Y),
	.RGMII_RXD0_RMII_RXD0_USBB_DATA0_IN(USB_ULPI_DATA_0_PAD_Y),
	.RGMII_RXD1_RMII_RXD1_USBB_DATA1_IN(USB_ULPI_DATA_1_PAD_Y),
	.RGMII_RXD2_RMII_RX_ER_USBB_DATA3_IN(USB_ULPI_DATA_3_PAD_Y),
	.RGMII_RXD3_USBB_DATA4_IN(USB_ULPI_DATA_4_PAD_Y),
	.RGMII_TX_CLK_IN(GND),
	.RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_IN(USB_ULPI_NXT_PAD_Y),
	.RGMII_TXD0_RMII_TXD0_USBB_DIR_IN(USB_ULPI_DIR_PAD_Y),
	.RGMII_TXD1_RMII_TXD1_USBB_STP_IN(GND),
	.RGMII_TXD2_USBB_DATA5_IN(USB_ULPI_DATA_5_PAD_Y),
	.RGMII_TXD3_USBB_DATA6_IN(USB_ULPI_DATA_6_PAD_Y),
	.SPI0_SCK_USBA_XCLK_IN(SPI_0_CLK_PAD_Y),
	.SPI0_SDI_USBA_DIR_MGPIO5A_IN(SPI_0_DI_PAD_Y),
	.SPI0_SDO_USBA_STP_MGPIO6A_IN(GND),
	.SPI0_SS0_USBA_NXT_MGPIO7A_IN(SPI_0_SS0_PAD_Y),
	.SPI0_SS1_USBA_DATA5_MGPIO8A_IN(GND),
	.SPI0_SS2_USBA_DATA6_MGPIO9A_IN(GND),
	.SPI0_SS3_USBA_DATA7_MGPIO10A_IN(GND),
	.SPI1_SCK_IN(GND),
	.SPI1_SDI_MGPIO11A_IN(GND),
	.SPI1_SDO_MGPIO12A_IN(GND),
	.SPI1_SS0_MGPIO13A_IN(GND),
	.SPI1_SS1_MGPIO14A_IN(GND),
	.SPI1_SS2_MGPIO15A_IN(GND),
	.SPI1_SS3_MGPIO16A_IN(GND),
	.SPI1_SS4_MGPIO17A_IN(GND),
	.SPI1_SS5_MGPIO18A_IN(GND),
	.SPI1_SS6_MGPIO23A_IN(GND),
	.SPI1_SS7_MGPIO24A_IN(GND),
	.USBC_XCLK_IN(GND),
	.CAN_RXBUS_USBA_DATA1_MGPIO3A_OUT(CAN_RXBUS_USBA_DATA1_MGPIO3A_OUT),
	.CAN_TX_EBL_USBA_DATA2_MGPIO4A_OUT(CAN_TX_EBL_USBA_DATA2_MGPIO4A_OUT),
	.CAN_TXBUS_USBA_DATA0_MGPIO2A_OUT(CAN_TXBUS_USBA_DATA0_MGPIO2A_OUT),
	.DRAM_ADDR(DRAM_ADDR[15:0]),
	.DRAM_BA(DRAM_BA[2:0]),
	.DRAM_CASN(DRAM_CASN),
	.DRAM_CKE(DRAM_CKE),
	.DRAM_CLK(DRAM_CLK),
	.DRAM_CSN(DRAM_CSN),
	.DRAM_DM_RDQS_OUT(DRAM_DM_RDQS_OUT[2:0]),
	.DRAM_DQ_OUT(DRAM_DQ_OUT[17:0]),
	.DRAM_DQS_OUT(DRAM_DQS_OUT[2:0]),
	.DRAM_FIFO_WE_OUT(DRAM_FIFO_WE_OUT[1:0]),
	.DRAM_ODT(DRAM_ODT),
	.DRAM_RASN(DRAM_RASN),
	.DRAM_RSTN(DRAM_RSTN),
	.DRAM_WEN(DRAM_WEN),
	.I2C0_SCL_USBC_DATA1_MGPIO31B_OUT(I2C0_SCL_USBC_DATA1_MGPIO31B_OUT),
	.I2C0_SDA_USBC_DATA0_MGPIO30B_OUT(I2C0_SDA_USBC_DATA0_MGPIO30B_OUT),
	.I2C1_SCL_USBA_DATA4_MGPIO1A_OUT(I2C1_SCL_USBA_DATA4_MGPIO1A_OUT),
	.I2C1_SDA_USBA_DATA3_MGPIO0A_OUT(I2C1_SDA_USBA_DATA3_MGPIO0A_OUT),
	.MMUART0_CTS_USBC_DATA7_MGPIO19B_OUT(MMUART0_CTS_USBC_DATA7_MGPIO19B_OUT),
	.MMUART0_DCD_MGPIO22B_OUT(MMUART0_DCD_MGPIO22B_OUT),
	.MMUART0_DSR_MGPIO20B_OUT(MMUART0_DSR_MGPIO20B_OUT),
	.MMUART0_DTR_USBC_DATA6_MGPIO18B_OUT(MMUART0_DTR_USBC_DATA6_MGPIO18B_OUT),
	.MMUART0_RI_MGPIO21B_OUT(MMUART0_RI_MGPIO21B_OUT),
	.MMUART0_RTS_USBC_DATA5_MGPIO17B_OUT(MMUART0_RTS_USBC_DATA5_MGPIO17B_OUT),
	.MMUART0_RXD_USBC_STP_MGPIO28B_OUT(MMUART0_RXD_USBC_STP_MGPIO28B_OUT),
	.MMUART0_SCK_USBC_NXT_MGPIO29B_OUT(MMUART0_SCK_USBC_NXT_MGPIO29B_OUT),
	.MMUART0_TXD_USBC_DIR_MGPIO27B_OUT(MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OUT),
	.MMUART1_RXD_USBC_DATA3_MGPIO26B_OUT(MMUART1_RXD_USBC_DATA3_MGPIO26B_OUT),
	.MMUART1_SCK_USBC_DATA4_MGPIO25B_OUT(MMUART1_SCK_USBC_DATA4_MGPIO25B_OUT),
	.MMUART1_TXD_USBC_DATA2_MGPIO24B_OUT(MMUART1_TXD_USBC_DATA2_MGPIO24B_OUT),
	.RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OUT(RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OUT),
	.RGMII_MDC_RMII_MDC_OUT(RGMII_MDC_RMII_MDC_OUT),
	.RGMII_MDIO_RMII_MDIO_USBB_DATA7_OUT(MSS_ADLIB_INST_RGMII_MDIO_RMII_MDIO_USBB_DATA7_OUT),
	.RGMII_RX_CLK_OUT(RGMII_RX_CLK_OUT),
	.RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OUT(MSS_ADLIB_INST_RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OUT),
	.RGMII_RXD0_RMII_RXD0_USBB_DATA0_OUT(MSS_ADLIB_INST_RGMII_RXD0_RMII_RXD0_USBB_DATA0_OUT),
	.RGMII_RXD1_RMII_RXD1_USBB_DATA1_OUT(MSS_ADLIB_INST_RGMII_RXD1_RMII_RXD1_USBB_DATA1_OUT),
	.RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OUT(MSS_ADLIB_INST_RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OUT),
	.RGMII_RXD3_USBB_DATA4_OUT(MSS_ADLIB_INST_RGMII_RXD3_USBB_DATA4_OUT),
	.RGMII_TX_CLK_OUT(RGMII_TX_CLK_OUT),
	.RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OUT(RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OUT),
	.RGMII_TXD0_RMII_TXD0_USBB_DIR_OUT(RGMII_TXD0_RMII_TXD0_USBB_DIR_OUT),
	.RGMII_TXD1_RMII_TXD1_USBB_STP_OUT(MSS_ADLIB_INST_RGMII_TXD1_RMII_TXD1_USBB_STP_OUT),
	.RGMII_TXD2_USBB_DATA5_OUT(MSS_ADLIB_INST_RGMII_TXD2_USBB_DATA5_OUT),
	.RGMII_TXD3_USBB_DATA6_OUT(MSS_ADLIB_INST_RGMII_TXD3_USBB_DATA6_OUT),
	.SPI0_SCK_USBA_XCLK_OUT(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OUT),
	.SPI0_SDI_USBA_DIR_MGPIO5A_OUT(SPI0_SDI_USBA_DIR_MGPIO5A_OUT),
	.SPI0_SDO_USBA_STP_MGPIO6A_OUT(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OUT),
	.SPI0_SS0_USBA_NXT_MGPIO7A_OUT(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OUT),
	.SPI0_SS1_USBA_DATA5_MGPIO8A_OUT(SPI0_SS1_USBA_DATA5_MGPIO8A_OUT),
	.SPI0_SS2_USBA_DATA6_MGPIO9A_OUT(SPI0_SS2_USBA_DATA6_MGPIO9A_OUT),
	.SPI0_SS3_USBA_DATA7_MGPIO10A_OUT(SPI0_SS3_USBA_DATA7_MGPIO10A_OUT),
	.SPI1_SCK_OUT(SPI1_SCK_OUT),
	.SPI1_SDI_MGPIO11A_OUT(SPI1_SDI_MGPIO11A_OUT),
	.SPI1_SDO_MGPIO12A_OUT(SPI1_SDO_MGPIO12A_OUT),
	.SPI1_SS0_MGPIO13A_OUT(SPI1_SS0_MGPIO13A_OUT),
	.SPI1_SS1_MGPIO14A_OUT(SPI1_SS1_MGPIO14A_OUT),
	.SPI1_SS2_MGPIO15A_OUT(SPI1_SS2_MGPIO15A_OUT),
	.SPI1_SS3_MGPIO16A_OUT(SPI1_SS3_MGPIO16A_OUT),
	.SPI1_SS4_MGPIO17A_OUT(SPI1_SS4_MGPIO17A_OUT),
	.SPI1_SS5_MGPIO18A_OUT(SPI1_SS5_MGPIO18A_OUT),
	.SPI1_SS6_MGPIO23A_OUT(SPI1_SS6_MGPIO23A_OUT),
	.SPI1_SS7_MGPIO24A_OUT(SPI1_SS7_MGPIO24A_OUT),
	.USBC_XCLK_OUT(USBC_XCLK_OUT),
	.CAN_RXBUS_USBA_DATA1_MGPIO3A_OE(CAN_RXBUS_USBA_DATA1_MGPIO3A_OE),
	.CAN_TX_EBL_USBA_DATA2_MGPIO4A_OE(CAN_TX_EBL_USBA_DATA2_MGPIO4A_OE),
	.CAN_TXBUS_USBA_DATA0_MGPIO2A_OE(CAN_TXBUS_USBA_DATA0_MGPIO2A_OE),
	.DM_OE(DM_OE[2:0]),
	.DRAM_DQ_OE(DRAM_DQ_OE[17:0]),
	.DRAM_DQS_OE(DRAM_DQS_OE[2:0]),
	.I2C0_SCL_USBC_DATA1_MGPIO31B_OE(I2C0_SCL_USBC_DATA1_MGPIO31B_OE),
	.I2C0_SDA_USBC_DATA0_MGPIO30B_OE(I2C0_SDA_USBC_DATA0_MGPIO30B_OE),
	.I2C1_SCL_USBA_DATA4_MGPIO1A_OE(I2C1_SCL_USBA_DATA4_MGPIO1A_OE),
	.I2C1_SDA_USBA_DATA3_MGPIO0A_OE(I2C1_SDA_USBA_DATA3_MGPIO0A_OE),
	.MMUART0_CTS_USBC_DATA7_MGPIO19B_OE(MMUART0_CTS_USBC_DATA7_MGPIO19B_OE),
	.MMUART0_DCD_MGPIO22B_OE(MMUART0_DCD_MGPIO22B_OE),
	.MMUART0_DSR_MGPIO20B_OE(MMUART0_DSR_MGPIO20B_OE),
	.MMUART0_DTR_USBC_DATA6_MGPIO18B_OE(MMUART0_DTR_USBC_DATA6_MGPIO18B_OE),
	.MMUART0_RI_MGPIO21B_OE(MMUART0_RI_MGPIO21B_OE),
	.MMUART0_RTS_USBC_DATA5_MGPIO17B_OE(MMUART0_RTS_USBC_DATA5_MGPIO17B_OE),
	.MMUART0_RXD_USBC_STP_MGPIO28B_OE(MMUART0_RXD_USBC_STP_MGPIO28B_OE),
	.MMUART0_SCK_USBC_NXT_MGPIO29B_OE(MMUART0_SCK_USBC_NXT_MGPIO29B_OE),
	.MMUART0_TXD_USBC_DIR_MGPIO27B_OE(MSS_ADLIB_INST_MMUART0_TXD_USBC_DIR_MGPIO27B_OE),
	.MMUART1_RXD_USBC_DATA3_MGPIO26B_OE(MMUART1_RXD_USBC_DATA3_MGPIO26B_OE),
	.MMUART1_SCK_USBC_DATA4_MGPIO25B_OE(MMUART1_SCK_USBC_DATA4_MGPIO25B_OE),
	.MMUART1_TXD_USBC_DATA2_MGPIO24B_OE(MMUART1_TXD_USBC_DATA2_MGPIO24B_OE),
	.RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OE(RGMII_GTX_CLK_RMII_CLK_USBB_XCLK_OE),
	.RGMII_MDC_RMII_MDC_OE(RGMII_MDC_RMII_MDC_OE),
	.RGMII_MDIO_RMII_MDIO_USBB_DATA7_OE(MSS_ADLIB_INST_RGMII_MDIO_RMII_MDIO_USBB_DATA7_OE),
	.RGMII_RX_CLK_OE(RGMII_RX_CLK_OE),
	.RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OE(MSS_ADLIB_INST_RGMII_RX_CTL_RMII_CRS_DV_USBB_DATA2_OE),
	.RGMII_RXD0_RMII_RXD0_USBB_DATA0_OE(MSS_ADLIB_INST_RGMII_RXD0_RMII_RXD0_USBB_DATA0_OE),
	.RGMII_RXD1_RMII_RXD1_USBB_DATA1_OE(MSS_ADLIB_INST_RGMII_RXD1_RMII_RXD1_USBB_DATA1_OE),
	.RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OE(MSS_ADLIB_INST_RGMII_RXD2_RMII_RX_ER_USBB_DATA3_OE),
	.RGMII_RXD3_USBB_DATA4_OE(MSS_ADLIB_INST_RGMII_RXD3_USBB_DATA4_OE),
	.RGMII_TX_CLK_OE(RGMII_TX_CLK_OE),
	.RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OE(RGMII_TX_CTL_RMII_TX_EN_USBB_NXT_OE),
	.RGMII_TXD0_RMII_TXD0_USBB_DIR_OE(RGMII_TXD0_RMII_TXD0_USBB_DIR_OE),
	.RGMII_TXD1_RMII_TXD1_USBB_STP_OE(MSS_ADLIB_INST_RGMII_TXD1_RMII_TXD1_USBB_STP_OE),
	.RGMII_TXD2_USBB_DATA5_OE(MSS_ADLIB_INST_RGMII_TXD2_USBB_DATA5_OE),
	.RGMII_TXD3_USBB_DATA6_OE(MSS_ADLIB_INST_RGMII_TXD3_USBB_DATA6_OE),
	.SPI0_SCK_USBA_XCLK_OE(MSS_ADLIB_INST_SPI0_SCK_USBA_XCLK_OE),
	.SPI0_SDI_USBA_DIR_MGPIO5A_OE(SPI0_SDI_USBA_DIR_MGPIO5A_OE),
	.SPI0_SDO_USBA_STP_MGPIO6A_OE(MSS_ADLIB_INST_SPI0_SDO_USBA_STP_MGPIO6A_OE),
	.SPI0_SS0_USBA_NXT_MGPIO7A_OE(MSS_ADLIB_INST_SPI0_SS0_USBA_NXT_MGPIO7A_OE),
	.SPI0_SS1_USBA_DATA5_MGPIO8A_OE(SPI0_SS1_USBA_DATA5_MGPIO8A_OE),
	.SPI0_SS2_USBA_DATA6_MGPIO9A_OE(SPI0_SS2_USBA_DATA6_MGPIO9A_OE),
	.SPI0_SS3_USBA_DATA7_MGPIO10A_OE(SPI0_SS3_USBA_DATA7_MGPIO10A_OE),
	.SPI1_SCK_OE(SPI1_SCK_OE),
	.SPI1_SDI_MGPIO11A_OE(SPI1_SDI_MGPIO11A_OE),
	.SPI1_SDO_MGPIO12A_OE(SPI1_SDO_MGPIO12A_OE),
	.SPI1_SS0_MGPIO13A_OE(SPI1_SS0_MGPIO13A_OE),
	.SPI1_SS1_MGPIO14A_OE(SPI1_SS1_MGPIO14A_OE),
	.SPI1_SS2_MGPIO15A_OE(SPI1_SS2_MGPIO15A_OE),
	.SPI1_SS3_MGPIO16A_OE(SPI1_SS3_MGPIO16A_OE),
	.SPI1_SS4_MGPIO17A_OE(SPI1_SS4_MGPIO17A_OE),
	.SPI1_SS5_MGPIO18A_OE(SPI1_SS5_MGPIO18A_OE),
	.SPI1_SS6_MGPIO23A_OE(SPI1_SS6_MGPIO23A_OE),
	.SPI1_SS7_MGPIO24A_OE(SPI1_SS7_MGPIO24A_OE),
	.USBC_XCLK_OE(USBC_XCLK_OE)
);
defparam MSS_ADLIB_INST.INIT=1438'h0000000000361200000000000000000000000000000000000000000000000000000000000000000000000000000000000120361000000000000120481204812048120D8120D8120F00000000F000000000000000000000000000000007FFFFFFFB000001007C37C000000006092C0104003FFFFE400000000002110000000000E01C000001FE4F44010842108421000001FE34001FF8000000400000000020091007FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF;
defparam MSS_ADLIB_INST.ACT_UBITS=56'hFFFFFFFFFFFFFF;
defparam MSS_ADLIB_INST.MEMORYFILE="ENVM_init.mem";
defparam MSS_ADLIB_INST.RTC_MAIN_XTL_FREQ=0.0;
defparam MSS_ADLIB_INST.RTC_MAIN_XTL_MODE="";
defparam MSS_ADLIB_INST.DDR_CLK_FREQ=100.0;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* MSS_C0_MSS */

module top_soc_new (
  CLK0_PAD,
  MMUART_0_RXD,
  SPI_0_DI,
  USB_ULPI_DIR,
  USB_ULPI_NXT,
  USB_ULPI_XCLK,
  MMUART_0_TXD,
  SPI_0_DO,
  USB_ULPI_STP,
  led,
  SPI_0_CLK,
  SPI_0_SS0,
  USB_ULPI_DATA
)
;
input CLK0_PAD ;
input MMUART_0_RXD ;
input SPI_0_DI ;
input USB_ULPI_DIR ;
input USB_ULPI_NXT ;
input USB_ULPI_XCLK ;
output MMUART_0_TXD /* synthesis syn_tristate = 1 */ ;
output SPI_0_DO /* synthesis syn_tristate = 1 */ ;
output USB_ULPI_STP /* synthesis syn_tristate = 1 */ ;
output [3:0] led ;
inout SPI_0_CLK /* synthesis syn_tristate = 1 */ ;
inout SPI_0_SS0 /* synthesis syn_tristate = 1 */ ;
inout [7:0] USB_ULPI_DATA /* synthesis syn_tristate = 1 */ ;
wire CLK0_PAD ;
wire MMUART_0_RXD ;
wire SPI_0_DI ;
wire USB_ULPI_DIR ;
wire USB_ULPI_NXT ;
wire USB_ULPI_XCLK ;
wire MMUART_0_TXD ;
wire SPI_0_DO ;
wire USB_ULPI_STP ;
wire SPI_0_CLK ;
wire SPI_0_SS0 ;
wire [7:0] PADDRS_net_0;
wire [27:24] MSS_C0_MSS_0_FIC_0_APB_M_PADDR;
wire [3:0] CoreAPB3_C0_0_PWDATAS;
wire [3:0] CoreAPB3_C0_0_PRDATA;
wire [3:0] led_c;
wire CoreAPB3_C0_0_PENABLES ;
wire MSS_C0_MSS_0_FIC_0_APB_M_PSEL ;
wire CoreAPB3_C0_0_PWRITES ;
wire FCCC_C0_0_GL0 ;
wire VCC ;
wire GND ;
wire MSS_C0_MSS_0_MSS_RESET_N_M2F ;
wire CoreAPB3_C0_0_PSELS0 ;
wire apb_led_slave_0_led4 ;
// @19:31
  OUTBUF \led_obuf[0]  (
	.PAD(led[0]),
	.D(led_c[0])
);
// @19:31
  OUTBUF \led_obuf[1]  (
	.PAD(led[1]),
	.D(led_c[1])
);
// @19:31
  OUTBUF \led_obuf[2]  (
	.PAD(led[2]),
	.D(led_c[2])
);
// @19:31
  OUTBUF \led_obuf[3]  (
	.PAD(led[3]),
	.D(led_c[3])
);
// @19:216
  CoreAPB3_C0 CoreAPB3_C0_0 (
	.MSS_C0_MSS_0_FIC_0_APB_M_PADDR(MSS_C0_MSS_0_FIC_0_APB_M_PADDR[27:24]),
	.CoreAPB3_C0_0_PRDATA(CoreAPB3_C0_0_PRDATA[3:0]),
	.led_c(led_c[3:0]),
	.MSS_C0_MSS_0_FIC_0_APB_M_PSEL(MSS_C0_MSS_0_FIC_0_APB_M_PSEL),
	.CoreAPB3_C0_0_PSELS0(CoreAPB3_C0_0_PSELS0),
	.CoreAPB3_C0_0_PWRITES(CoreAPB3_C0_0_PWRITES),
	.led4(apb_led_slave_0_led4)
);
// @19:238
  FCCC_C0 FCCC_C0_0 (
	.CLK0_PAD(CLK0_PAD),
	.FCCC_C0_0_GL0(FCCC_C0_0_GL0)
);
// @19:200
  apb_led_slave apb_led_slave_0 (
	.PADDRS_net_0(PADDRS_net_0[7:0]),
	.CoreAPB3_C0_0_PWDATAS(CoreAPB3_C0_0_PWDATAS[3:0]),
	.led_c(led_c[3:0]),
	.CoreAPB3_C0_0_PENABLES(CoreAPB3_C0_0_PENABLES),
	.CoreAPB3_C0_0_PSELS0(CoreAPB3_C0_0_PSELS0),
	.CoreAPB3_C0_0_PWRITES(CoreAPB3_C0_0_PWRITES),
	.led4_1z(apb_led_slave_0_led4),
	.FCCC_C0_0_GL0(FCCC_C0_0_GL0),
	.MSS_RESET_N_M2F(MSS_C0_MSS_0_MSS_RESET_N_M2F)
);
  MSS_C0_MSS MSS_C0_MSS_0 (
	.CoreAPB3_C0_0_PRDATA(CoreAPB3_C0_0_PRDATA[3:0]),
	.CoreAPB3_C0_0_PWDATAS(CoreAPB3_C0_0_PWDATAS[3:0]),
	.MSS_C0_MSS_0_FIC_0_APB_M_PADDR(MSS_C0_MSS_0_FIC_0_APB_M_PADDR[27:24]),
	.PADDRS_net_0(PADDRS_net_0[7:0]),
	.USB_ULPI_DATA(USB_ULPI_DATA[7:0]),
	.MSS_RESET_N_M2F(MSS_C0_MSS_0_MSS_RESET_N_M2F),
	.CoreAPB3_C0_0_PWRITES(CoreAPB3_C0_0_PWRITES),
	.MSS_C0_MSS_0_FIC_0_APB_M_PSEL(MSS_C0_MSS_0_FIC_0_APB_M_PSEL),
	.CoreAPB3_C0_0_PENABLES(CoreAPB3_C0_0_PENABLES),
	.MMUART_0_RXD(MMUART_0_RXD),
	.MMUART_0_TXD(MMUART_0_TXD),
	.SPI_0_CLK(SPI_0_CLK),
	.SPI_0_DI(SPI_0_DI),
	.SPI_0_DO(SPI_0_DO),
	.SPI_0_SS0(SPI_0_SS0),
	.USB_ULPI_DIR(USB_ULPI_DIR),
	.USB_ULPI_NXT(USB_ULPI_NXT),
	.USB_ULPI_STP(USB_ULPI_STP),
	.USB_ULPI_XCLK(USB_ULPI_XCLK)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* top_soc_new */

